@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:100,400');

@media(max-width: 550px) {

    #principles td,
    #social td {
        display: table-row;
    }
}

@media(max-width: 850px) {
    td {
        display: table-row;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-fg-color: #C0BAB2;
        --main-bg-color: #202020;
        --secondary-bg-color: #333;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --main-fg-color: #1e1e1e;
        --main-bg-color: #fff;
        --secondary-bg-color: #333;
    }
}

@keyframes lovehover {
    from {
        color: var(--main-fg-color);
    }

    to {
        color: darkred;
    }
}

@keyframes love {
    from {
        color: darkred;
    }

    to {
        color: var(--main-fg-color);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto';
    background-color: var(--main-bg-color);
}

h1,
h2,
i,
p,
a,
td {
    color: var(--main-fg-color);
}

h2 {
    font-weight: 900;
    font-size: 4vw;
}

a:link,
a:link:visited,
a:visited,
a:link:active {
    color: #6060BF;
    text-decoration: none;
    font-weight: 600;
}

a:link:hover,
a:visited:hover {
    color: #8282cd;
}

/* IDs */

#principles {
    display: flex;
    width: 90%;
    align-content: center;
}

#principles i {
    margin-right: 7px;
}

#nav-projects {
    display: none;
    ;
}

#heart {
    animation-name: love;
    animation-duration: 0.25s;
    color: var(--main-fg-color);
}

#heart:hover {
    animation-name: lovehover;
    animation-duration: 0.25s;
    color: darkred;
}

#about-me-section {
    div {
        margin-left: 50px;
        margin-right: 30px;
    }

    p {
        line-height: 150%;
    }
}

#footer {
    background-color: #282B2D;
    padding-bottom: 0.5%;
    margin-top: 40px;
}

/* Classes */

.fa-link {
    color: transparent;
}

.fa-link:hover {
    color: var(--main-fg-color);
}

.description {
    margin-left: 50px;
    margin-right: 30px;
}

.middle {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.download-button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;

    i {
        color: white;
    }
}

.download-button:hover {
    background-color: #45a049;
}

.return {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.nav {
    background-color: #333;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li .tab {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.hide {
    display: none !important;
}

.nav i {
    color: white;
}

.nav li .tab:hover {
    background-color: #414141;
}

.nav li .active {
    background-color: #4CAF50 !important;
}

.nav .right {
    float: right;
}

.section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.slider {
    background-image: url('https://images.unsplash.com/photo-1488590528505-98d2b5aba04b');
    height: 280px;
    background-position: center;
    background-size: cover;
}

.button-area {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    display: flex;
    flex-direction: row;
}

.three-section-table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.three-section-table td {
    width: 33%;
    padding-bottom: 10px;
    padding-left: 20px;
}

.three-section-table .header {
    padding-left: 0px;
}

.force-fg-color {
    color: var(--main-fg-color) !important;
}

.force-fg-color:hover {
    color: #8282cd !important;
}

.picture {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.results {
    margin-bottom: 25px;
    margin-top: 25px;
}

/* Bootstrap */

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.align-top {
    vertical-align: top;
}

.text-center {
    text-align: center;
}

.pt25 {
    padding-top: 25px;
}

.pb25 {
    padding-bottom: 25px;
}

.pointer {
    cursor: pointer;
}

.size70 {
    font-size: 70%;
}

.size170 {
    font-size: 170%;
}

.mt100 {
    margin-top: 100px;
}

.mt20 {
    margin-top: 20px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.lh150 {
    line-height: 150%;
}

.vh-45 {
    height: 45vh;
}

.vw-80 {
    width: 80vw;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}